/*Content*/
body {
    font-family: "Century Gothic", sans-serif;
  }

h2{
    margin-bottom: 0;
}

.profilePic{
    width: 184px;
    height: 184px;
    display: block;
    margin-left: 17.5%;
}
.tableForInfo{
    width: 80%;
    margin: 30px;
}

.ul-profile, .ul-rightPartSection{
    list-style-type: none;
    margin: 30px;
    padding-left: 0px;
}

.ul-profile li{
    margin-bottom: 20px;
}

.hr-rightPartSection{      
    width: 500px;
    margin-left: 0;
}

/*Flexbox*/
.container {
    display: flex;
    gap: 50px;
    z-index: 3;
}
.flex-left{
    background-color: rgb(209, 209, 195);
    width: 300px;
    z-index: 3;
}

.flex-right {
    width: 500px;
    z-index: 3;
}
/*Top coloring bg*/
.top-top-color{
    background-color: rgb(209, 209, 195);
    height: 100px;
    margin: 0px;
    position: relative;
    size: 100%;

    border-top-right-radius: 50%;
    border-bottom-right-radius: 30%;
}

.top-bottom-circle{
    background-color: white;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    left: 300px;
    top: 100px;
}

.top-bottom-square{
    background-color: rgb(209, 209, 195);
    height: 100px;
    width: 110px;
    z-index: 1;
    position: absolute;
    left: 300px;
    top: 90px;   
}